.ItemTable {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    
}

.Table{
    /* table-layout: fixed; */
    /* word-wrap: break-word; */
}

.Photo{
    height: 50px;
}

.PhotoModal{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px){
    .ItemTable{
        width: 1000px;
    }

    .Table{
        /* table-layout: fixed; */
        word-wrap: break-word;
    }
}